@use "../../../scss-variables/media-queries" as *;

.admin-content {
  position: relative;
  min-height: calc(100vh - 100px);
  margin-top: 50px;
  margin-bottom: 50px;
  z-index: 0;

  @media (min-width: 799px) {
    margin-top: initial;
    margin-bottom: initial;
    transform: translateY(50px);
  }

  &__logout {
    margin-bottom: 20px;
    color: #2ecc40;
    text-align: left;
  }

  &__go-back-homepage-btn {
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #393939;
    text-align: left;
    transition: 0.4s linear;
    cursor: pointer;

    &:hover {
      color: #000000;
    }
  }
}
