@use "../../../../scss-variables/media-queries" as *;

.table-courses {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1.4rem;
  table-layout: fixed;

  @media (max-width: 799px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &__head {
    @media (max-width: 799px) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__head-th,
  &__body-td--courses {
    height: 50px;
    padding: 0 5px;
    border: 1px solid #ddd;
    font-weight: 300;

    @media (max-width: 1023px) {
      height: 35px;
    }

    &:nth-child(1) {
      @media (max-width: 799px) {
        text-align: center;
      }
    }

    &:nth-child(2) {
      text-align: center;
    }
    &:nth-child(3) {
      text-align: center;
    }
    &:nth-child(4) {
      text-align: center;
    }
    &:nth-child(5) {
      text-align: center;
      @media (max-width: 799px) {
        width: 100%;
      }
    }
  }

  &__body-td--courses {
    display: flex;
    align-items: center;
    text-indent: 5px;

    &:nth-child(5n + 4) {
      display: grid;
      align-items: center;
      overflow-y: scroll;

      scrollbar-width: thin;
      scrollbar-color: auto;

      &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
      }

      &::-webkit-scrollbar-track {
        background-color: white;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #bdb6b6;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-corner {
        background-color: rgb(240, 239, 239);
      }
    }

    &:nth-child(3) {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 799px) {
        justify-content: flex-start;
      }
    }

    &:nth-child(5) {
      padding: 0;
    }
    &:hover {
      @media (max-width: 799px) {
        background-color: #f2f2f2;
      }
    }

    @media (max-width: 799px) {
      &:nth-child(5n + 1) {
        background-color: #e4c280;
        line-height: 35px;
      }
    }

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &__head-th {
    padding: 12px 0;
    background-color: #393939;
    color: #f8c822;
    font-weight: 500;
    letter-spacing: 1px;

    @media (max-width: 1023px) {
      padding: 7px;
      font-weight: 400;
    }

    @media (max-width: 799px) {
      display: grid;
      display: inline-block;
      grid-template-columns: 1fr;
    }

    @media (max-width: 375px) {
      padding: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
    }

    @media (max-width: 319px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }
  }

  &__body-tr {
    &:nth-child(even) {
      background-color: #f2f2f2;
      @media (max-width: 799px) {
        background-color: white;
      }
    }

    &:hover {
      background-color: #ddd;

      @media (max-width: 799px) {
        background-color: white;
      }
    }

    @media (max-width: 375px) {
      font-size: 1.2rem;
    }
  }

  &__head-tr,
  &__body-tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    @media (max-width: 799px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  &__body {
    @media (max-width: 799px) {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }
}
