@use "../../../../scss-variables/media-queries" as *;

.admin {
  &__right-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px rgb(222, 222, 222);
    transition: 0.4s ease;
    animation: moveLayerNav 0.4s linear;

    &--active {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-color: #fff;
      transition: 0.4s ease;
      box-shadow: 0 4px 2px -2px rgb(222, 222, 222);
    }

    @include media-queries(large) {
      display: flex;
      position: fixed;
      top: 0;
      left: 60px;
      width: calc(100% - 60px);
      height: 50px;
      background-color: #fff;
      box-shadow: 0 4px 2px -2px rgb(222, 222, 222);
      z-index: 100;
      transition: 0.4s ease;
      animation: moveLayerNav 0.4s linear;

      &--active {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #fff;
        transition: 0.4s ease;
        box-shadow: 0 4px 2px -2px rgb(222, 222, 222);
        z-index: initial;
      }
    }

    @include media-queries(xxlarge) {
      display: flex;
      position: fixed;
      top: 0;
      left: 300px;
      width: calc(100% - 300px);
      height: 50px;
      background-color: #fff;
      transition: 0.4s ease;
      box-shadow: 0 4px 2px -2px rgb(222, 222, 222);
      z-index: 100;

      &--active {
        display: flex;
        position: fixed;
        top: 0;
        left: 60px;
        width: calc(100% - 70px);
        height: 50px;
        background-color: #fff;
        transition: 0.4s ease;
        box-shadow: 0 4px 2px -2px rgb(222, 222, 222);
        z-index: 100;
      }
    }
  }

  @keyframes moveLayerNav {
    0% {
      z-index: 0;
    }

    50% {
      z-index: 0;
    }

    100% {
      z-index: 4;
    }
  }

  &__nav-left {
    display: flex;
    align-items: center;
    width: 82%;

    @include media-queries(medium) {
      width: 80%;
    }
  }

  &__menu-option-name {
    display: none;

    @include media-queries(xxsmall) {
      display: block;
    }
    @include media-queries(xmedium) {
      font-size: 2.2rem;
    }

    @include media-queries(medium) {
      font-size: 2.4rem;
    }
  }

  &__extra-logo {
    display: none;
    margin: 0 7px;
    opacity: 1;
    font-size: 2.8rem;
    transition: 0.6s ease;
    text-align: center;
    font-family: "Engagement", cursive;

    @media (min-width: 384px) {
      display: block;
      visibility: visible;
    }

    @include media-queries(medium) {
      margin: 0 18px;
    }

    @include media-queries(large) {
      opacity: 0;
      visibility: hidden;
      transition: none;
    }
  }

  &__hamburger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 27px;

    margin: 0 12px 0 5px;
    border-radius: 50%;
    background-color: #393939;
    transition: 0.4s ease;

    &--active {
      width: 30px;
      height: 27px;
      transition: 0.4s ease;
    }

    @include media-queries(xsmall) {
      width: 36px;
      height: 33px;
      margin: 0 10px 0 2px;

      &--active {
        width: 36px;
        height: 33px;
      }
    }

    @include media-queries(small) {
      margin: 0 20px 0 2px;

      &--active {
        margin: 0 20px 0 2px;
      }
    }

    @media (min-width: 384px) {
      margin: 0 20px 0 15px;

      &--active {
        margin: 0 20px 0 15px;
      }
    }

    @include media-queries(medium) {
      width: 42px;
      height: 38px;
      margin: 0 20px 0 15px;

      &--active {
        width: 42px;
        height: 38px;
        margin: 0 20px 0 15px;
      }
    }

    @include media-queries(large) {
      margin: 0 12px 0 -53px;
      background-color: transparent;

      &--active {
        margin: 0 12px 0 246px;
        background-color: transparent;
      }
    }

    @include media-queries(xxlarge) {
      margin: 0 12px 0 -53px;

      &--active {
        margin: 0 12px 0 -53px;
        background-color: transparent;
      }
    }
  }

  &__hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18px;
    height: 14px;
    cursor: pointer;

    @include media-queries(xsmall) {
      width: 21px;
      height: 17px;
    }

    @include media-queries(medium) {
      width: 25px;
      height: 19px;
    }
  }

  &__hamburger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;

    @include media-queries(xsmall) {
      height: 3px;
    }

    @include media-queries(large) {
      background-color: #333;
    }
  }

  &__nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    margin-right: 20px;
  }

  &__wrapper-image-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 319px) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__picture {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80px;
    border-radius: 50%;

    @media (min-width: 319px) {
      justify-content: flex-end;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
  }

  &__person-image {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    @media (min-width: 319px) {
      width: 30px;
      height: 30px;
    }

    @include media-queries(medium) {
      width: 35px;
      height: 35px;
    }
  }

  &__box-name {
    width: 70px;
  }

  &__name {
    font-size: 1.2rem;
    font-weight: 500;

    @media (min-width: 319px) {
      font-size: 1.3rem;
    }
  }

  &__function {
    display: none;
    font-size: 1.1rem;

    @media (min-width: 319px) {
      display: block;
    }
  }

  &__button-logout {
    display: block;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: #303030;
    outline: none;
    font-family: arial, serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;

    &:hover {
      color: black;
    }

    @include media-queries(small) {
      font-size: 1.2rem;
    }

    @include media-queries(medium) {
      font-size: 1.4rem;
    }

    @include media-queries(large) {
      font-size: 1.6rem;
    }
  }
}
