@use "../../../../scss-variables/media-queries" as *;

.message-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 140px;
  padding: 15px;
  background-color: white;

  &--active {
    animation: fadeInModalPopUp 0.3s ease forwards;
  }

  @keyframes fadeInModalPopUp {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(-50px);
    }
    50% {
      opacity: 0;
      transform: scale(0.8) translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0px);
    }
  }

  @include media-queries(xsmall) {
    width: 95%;
    height: 160px;
  }

  @include media-queries(medium) {
    width: 80%;
    height: 200px;
  }

  @include media-queries(large) {
    width: 500px;
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 500;

    @include media-queries(xsmall) {
      margin-bottom: 30px;
    }

    @include media-queries(medium) {
      margin-bottom: 50px;
    }
  }

  &__wrapper-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @include media-queries(xsmall) {
      width: 220px;
    }

    @include media-queries(medium) {
      width: 320px;
    }

    @include media-queries(large) {
      width: 75%;
    }
  }

  &__button-yes,
  &__button-no {
    width: 80px;
    padding: 5px 0;
    border: none;
    outline: none;
    background-color: #ffd951;
    transition: 0.4s ease;
    cursor: pointer;
    font-size: 1.2rem;

    @include media-queries(xsmall) {
      width: 100px;
      padding: 7px 0;
      font-size: 1.4rem;
    }

    @include media-queries(small) {
      padding: 10px 0;
    }

    @include media-queries(medium) {
      width: 150px;
      font-weight: bold;
    }

    &:hover {
      background-color: #f8c822;
    }
  }
}
