@use "../../../scss-variables/media-queries" as *;

.testimonial {
  &__slider {
    width: 100%;
    // height: 500px;
    margin: 0 auto 40px auto;
    overflow-x: hidden;
    background-color: #303030;

    @media (min-width: 700px) {
      width: 100%;
      height: 220px;
    }

    @include media-queries(large) {
      width: 650px;
    }

    @include media-queries(xlarge) {
      margin: 0 auto 20px auto;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* transform: translateX(-100%); */
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    // height: 100%;
    //TODO: od 700

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }

  &__text-left {
    position: relative;
    flex-basis: 65%;
    background-color: #424242;
  }

  &__blockquote {
    position: relative;
    margin: 10px 10px 35px 10px;
    padding: 10px 10px 10px 10px;
    color: #dddddd;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    font-size: 1.4rem;
    text-align: left;

    @include media-queries(medium) {
      margin: 25px 10px 35px 10px;
      padding: 20px 30px 20px 30px;
      font-size: 1.6rem;
    }

    @media (min-width: 700px) {
      margin: 25px 15px 35px 10px;
    }

    &::before {
      font-family: Georgia, serif;
      position: absolute;
      font-size: 2rem;
      line-height: 1;
      top: 5px;
      left: 0px;
      content: "\201C";

      @include media-queries(medium) {
        top: 15px;
        left: 20px;
      }
    }

    &::after {
      font-family: Georgia, serif;
      position: absolute;
      float: right;
      font-size: 2rem;
      line-height: 1;
      right: auto;
      bottom: -5px;
      content: "\201D";

      @include media-queries(medium) {
        bottom: 3px;
      }
    }
  }

  &__text-right {
    flex-basis: 35%;
  }

  &__credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #393939;
  }

  &__name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 50px;
    color: #ddd;

    @media (min-width: 700px) {
      width: 100%;
      height: 25%;
      margin-top: initial;
      color: #ddd;
    }
  }

  &__rate-stars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 10px 0;
    text-align: center;
    color: #ddd;
    font-size: 1rem;

    @include media-queries(xsmall) {
      font-size: 1.1rem;
    }

    @include media-queries(small) {
      font-size: 1.2rem;
    }

    @include media-queries(medium) {
      font-size: 1.4rem;
    }
  }

  .fas {
    color: #ffdc00;
  }

  &__control-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
  }

  &__arrow-left,
  &__arrow-right {
    display: block;
  }

  .fa-angle-left,
  .fa-angle-right {
    color: #ddd;
    font-size: 3.5rem;
    cursor: pointer;
  }

  &__dots-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 20%;
    padding: 10px 0 20px 0;
    list-style-type: none;

    @include media-queries(medium) {
      width: 100px;
    }
  }

  &__dot {
    display: block;
    width: 20px;
    height: 5px;
    margin: 0 5px;
    background-color: #dddddd;
    border-radius: 3px;
    transform: scale(1);
    transition: 0.5s all;
    cursor: pointer;
  }

  &__image-wrapper {
    position: absolute;
    bottom: -35px;
    left: 50%;
    width: 70px;
    height: 70px;
    transform: translate(-50%, 0);
    background-color: lightgreen;
    border-radius: 50%;
    box-shadow: 0 0 0 7px #393939;

    @media (min-width: 700px) {
      position: absolute;
      bottom: 50%;
      left: initial;
      right: -35px;
      width: 70px;
      height: 70px;
      transform: translateY(50%);
      background-color: lightgreen;
      border-radius: 50%;
      box-shadow: 0 0 0 7px rgb(57, 57, 57);
    }
  }
}
