@use "../../../scss-variables/media-queries" as *;

.testimonial {
  &__slider {
    width: 100%;
    height: 220px;
    margin: 0 auto 40px auto;
    overflow-x: hidden;
    background-color: #303030;

    @include media-queries(medium) {
      width: 100%;
    }

    @include media-queries(large) {
      width: 650px;
    }

    @include media-queries(xlarge) {
      margin: 0 auto 20px auto;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* transform: translateX(-100%); */
  }

  &__text {
    position: relative;
    display: flex;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
  }

  &__text-left {
    flex-basis: 65%;
    background: #c4a128;
    background: -webkit-linear-gradient(to right, #799f0c, #c4a128);
    background: linear-gradient(to right, #799f0c, #c4a128);
  }

  &__text-right {
    flex-basis: 35%;
  }

  &__credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #393939;
  }

  &__name {
    width: 100%;
    height: 25%;
    text-align: center;
    line-height: 60px;
    color: #ddd;
  }

  &__rate-stars {
    width: 100%;
    height: 25%;
    text-align: center;
    line-height: 60px;
    color: #ddd;
    font-size: 1rem;

    @include media-queries(xsmall) {
      font-size: 1.1rem;
    }

    @include media-queries(small) {
      font-size: 1.2rem;
    }

    @include media-queries(medium) {
      font-size: 1.4rem;
    }
  }

  .fas {
    color: #ffdc00;
  }

  &__control-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30%;
  }

  &__arrow-left,
  &__arrow-right {
    display: block;
  }

  .fa-angle-left,
  .fa-angle-right {
    color: #ddd;
    font-size: 3.5rem;
    cursor: pointer;
  }

  &__dots-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100px;
    height: 20%;
    list-style-type: none;
  }

  &__dot {
    display: block;
    width: 20px;
    height: 5px;
    margin: 0 5px;
    background-color: #dddddd;
    border-radius: 3px;
    transform: scale(1);
    transition: 0.5s all;
    cursor: pointer;
  }

  &__image-wrapper {
    position: absolute;
    top: 50%;
    right: calc(35% - 70px / 2);
    width: 70px;
    height: 70px;
    transform: translateY(-50%);
    background-color: lightgreen;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgb(57, 57, 57);
  }
}
