@use "../../../scss-variables/media-queries" as *;

.button-go-back {
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0%;
  background-color: transparent;
  border: none;
  color: #333333;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  text-align: left;
  transition: 0.4s ease;

  &:hover {
    color: #f8c822;
  }

  @include media-queries(xmedium) {
    font-size: 1.6rem;
  }

  @include media-queries(medium) {
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
  }

  @include media-queries(large) {
    width: auto;
    top: 20px;
    left: 0;
    transform: initial;
  }

  @include media-queries(xlarge) {
    top: -30px;
  }
}
