@use "../../../scss-variables/media-queries" as *;

@mixin buttons-type-images {
  padding: 2px 0;
  background-color: transparent;
  border: 1px solid #808080;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  outline: none;

  @include media-queries(xmedium) {
    padding: 5px 0;
    font-size: 1.6rem;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #303030;

  @include media-queries(small) {
    padding: 50px;
  }

  @include media-queries(large) {
    padding: 50px;
    min-height: 100vh;
  }

  @include media-queries(xlarge) {
    max-width: 1200px;
    min-height: initial;
    height: 768px;
  }

  &__wrapper {
    width: 100%;
    margin: 0 auto;

    @include media-queries(xlarge) {
      width: 1000px;
    }
  }

  &__title {
    margin: -25px 0 10px 0;
    color: #d4774a;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin: 25px 0 40px 0;
    color: #ddd;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__buttons-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }

  &__buttons-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100px;

    @include media-queries(xxsmall) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: auto;
      margin-bottom: 20px;
    }
  }

  &__button-men {
    flex-basis: 31%;
    @include buttons-type-images();
    border-width: 0;
    border: 1px solid #f8c822;
    background-color: #f8c822;
    color: #000;

    @include media-queries(large) {
      flex-basis: 20%;
    }
  }

  &__button-women {
    flex-basis: 31%;
    @include buttons-type-images();

    @include media-queries(large) {
      flex-basis: 20%;
    }
  }

  &__button-children {
    flex-basis: 31%;
    @include buttons-type-images();

    @include media-queries(large) {
      flex-basis: 20%;
    }
  }

  &__buttons-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 63px;

    @include media-queries(xxsmall) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: auto;
    }
  }

  &__button-weddings {
    flex-basis: 40%;

    @include buttons-type-images();

    @include media-queries(xxsmall) {
      flex-basis: 40%;
      margin-right: 5px;
    }

    @include media-queries(small) {
      flex-basis: 35%;
    }

    @include media-queries(large) {
      flex-basis: 20%;
    }
  }

  &__button-others {
    flex-basis: 40%;

    @include buttons-type-images();

    @include media-queries(xxsmall) {
      flex-basis: 40%;
      margin-left: 5px;
    }

    @include media-queries(small) {
      flex-basis: 35%;
    }

    @include media-queries(large) {
      flex-basis: 20%;
    }
  }
}
