@use "../../../scss-variables/media-queries" as *;

.gallery-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;

  &__wrapper {
    position: relative;
    margin-bottom: 0px;

    @include media-queries(xsmall) {
      margin-bottom: 10px;
    }

    @media (min-height: 0px) and (max-height: 414px) and (max-width: 823px) and (orientation: landscape) {
      margin-bottom: initial;
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__content {
    display: flex;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
  }

  &__img-wrapper {
    position: relative;
    min-width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
  }

  &__image {
    min-width: 100%;
    height: 100%;
  }

  &__dots-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 80px;
    height: 20%;
    padding: 10px 0 10px 0;
    list-style-type: none;

    @include media-queries(xsmall) {
      padding: 10px 0 20px 0;
    }

    @include media-queries(medium) {
      min-width: 100px;
    }

    @media (min-height: 0px) and (max-height: 480px) and (max-width: 854px) and (orientation: landscape) {
      display: none;
    }
  }

  &__dot {
    display: block;
    width: 20px;
    height: 5px;
    margin: 0 5px;
    background-color: #dddddd;
    border-radius: 3px;
    transition: 0.5s all;
    cursor: pointer;

    &--active {
      background-color: #c4a128;
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    @include media-queries(medium) {
      width: 70%;
    }

    @include media-queries(large) {
      width: 50%;
    }

    @media (min-height: 0px) and (max-height: 600px) and (max-width: 1024px) and (orientation: landscape) {
      display: none;
    }
  }

  &__button {
    display: block;
    width: 49%;
    padding: 2px 0;
    margin-bottom: 8px;
    border: none;
    background-color: #f8c822;
    background-color: #c4a128;
    color: #333333;
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    transition: 0.4s ease;

    &--active {
      background-color: #f8c822;
    }

    @include media-queries(xsmall) {
      padding: 8px 0;
    }

    &:nth-child(5) {
      width: 100%;
    }

    @include media-queries(xmedium) {
      width: 49%;
    }

    @include media-queries(medium) {
      padding: 10px 0;

      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5) {
        width: 32%;
      }
    }

    &:hover {
      background-color: #f8c822;
    }
  }

  &__close-button {
    position: absolute;
    top: -45px;
    right: 0px;
    display: block;
    float: right;
    border: none;
    background-color: transparent;
    color: #f8c822;
    font-size: 2.4rem;
    text-align: right;
    outline: none;
    transition: 0.4s ease;
    cursor: pointer;

    &:hover {
      color: #c4a128;
    }

    @media (min-width: 240px) and (max-width: 240px) and (max-height: 320px) and (orientation: portrait) {
      top: -26px;
      width: 18px;
      height: 18px;
      font-size: 1.8rem;
    }

    @media (min-height: 0px) and (max-height: 600px) and (max-width: 1024px) and (orientation: landscape) {
      display: none;
    }
  }

  &__arrow-left,
  &__arrow-right {
    display: none;
    z-index: 1;

    @include media-queries(large) {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      font-size: 4rem;
      cursor: pointer;
      transition: 0.4s ease;

      &:hover {
        color: #f8c822;
      }
    }
  }

  &__arrow-left {
    left: 20px;
  }

  &__arrow-right {
    right: 20px;
  }
}
