@use "../../../../scss-variables/media-queries" as *;

@mixin button-delete-confirm {
  display: block;
  width: 100%;
  padding: 7px 0;
  background-color: #f8c822;
  border: none;
  color: #333333;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease;

  &:hover {
    background-color: #f8cd38;
    color: black;
  }

  @include media-queries(xmedium) {
    font-size: 1.6rem;
  }

  @include media-queries(medium) {
    width: 100%;
    padding: 5px 0;
  }
}

.admin-profile {
  &__users {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;

    @include media-queries(xlarge) {
      flex-direction: row;
    }
  }

  &__left-users {
    width: 100%;

    @include media-queries(xlarge) {
      position: relative;
      width: 50%;
    }
  }

  &__right-users {
    width: 100%;
    @include media-queries(xlarge) {
      width: 50%;
    }
  }

  &__title-registered,
  &__title-permissions {
    width: 100%;
    padding: 10px 10px;
    background-color: #393939;
    color: #f8cd38;
    text-align: left;
    font-family: "Oswald", sans-serif;
  }

  &__user-wrapper {
    padding-top: 10px;
  }

  &__name-user,
  &__email-user {
    padding-left: 10px;
    margin: 10px 0;
    text-align: left;
    font-size: 1.4rem;

    @include media-queries(xlarge) {
      margin: 0 0 10px 0;
    }
  }

  &__form-permission {
    display: flex;
    flex-direction: column;
  }

  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;

    @include media-queries(xlarge) {
      padding: 10px 0;
    }
  }

  &__label-user {
    font-size: 1.4rem;
    cursor: pointer;
  }

  &__input-permission {
    margin-right: 5px;
    cursor: pointer;
  }

  &__delete-user {
    width: 100%;

    @include button-delete-confirm();

    @include media-queries(xlarge) {
      position: absolute;
      bottom: 0;
    }
  }

  &__button-permission-confirm {
    @include button-delete-confirm();
  }
}
