.admin-canceled {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 150px);

  &__wrapper {
    width: 1350px;
    min-height: inherit;
    height: 100%;
  }

  &__btn-remove {
    width: 100%;
    height: 100%;
    border: none;
    color: #d6d6d6;
    background-color: #393939;
    box-sizing: border-box;
    transition: 0.2s linear;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;

    &:hover {
      color: white;
    }
  }
}
