@use "../../../../scss-variables/media-queries" as *;

.admin-appointments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: initial;
}
