@use "../../../../scss-variables/media-queries" as *;

.admin-appointments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 250px);
}
