@use "../../../../scss-variables/media-queries" as *;

.admin-service {
  &__edit-form-wrapper {
    width: 100%;
  }

  &__form-edit {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-queries(large) {
      flex-direction: row;
    }
  }

  &__error-msg-edit {
    position: initial;
    color: #ff4136;
    margin-bottom: 3px;
    text-align: left;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    &:nth-of-type(2) {
      left: 150px;
    }

    @include media-queries(large) {
      position: absolute;
      top: 5px;
      left: 0;
      margin-bottom: initial;

      &:nth-of-type(2) {
        left: 220px;
      }
    }
  }

  &__input-file-add {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;

    @include media-queries(large) {
      width: 30%;
      margin-bottom: initial;
    }
  }

  &__label-file {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 7px 0;
    background-color: #393939;
    color: #f8cd38;
    font-size: 1.4rem;
    cursor: pointer;

    @include media-queries(large) {
      padding: 10px 0;
    }
  }

  &__file-name {
    display: inline-block;
    margin-left: 10px;
    color: #393939;
    font-size: 1.4rem;
  }

  &__input-file {
    padding: 7px 0;
    border: none;
    outline: none;
    height: 0;
    width: 0;
    opacity: 0;
  }
}
