@use "../../../scss-variables/media-queries" as *;

.booking {
  &__input-wrapper-day-time {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__inputs-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__input-wrapper-day {
    display: flex;
    flex-direction: column;
  }

  &__input-date,
  &__input-select-time {
    border: 1px solid white;
    outline: none;
  }

  &__input-date {
    padding: 4px 0;
    margin-bottom: 10px;

    @include media-queries(large) {
      margin-bottom: initial;
    }
  }

  &__input-select-time {
    padding: 5px 0;
  }

  &__input-wrapper-time {
    display: flex;
    flex-direction: column;
  }
}

.disabled-date {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.react-datepicker__time-container {
  width: 170px !important;
}

.react-datepicker__time-box {
  width: 100% !important;
}

.react-datepicker__time-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__time-list {
  scrollbar-width: thin;
  scrollbar-color: auto;
}

.react-datepicker__time-list::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
  background-color: white;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background-color: #393939;
  border-radius: 3px;
}

.react-datepicker__time-list::-webkit-scrollbar-corner {
  background-color: rgb(240, 239, 239);
}

.react-datepicker__time-list-item--selected {
  background-color: #393939 !important;
  color: #f8c822 !important;
}

.react-datepicker {
  border-radius: 0 !important;
}

.react-datepicker__header {
  background-color: #393939 !important;
  border-radius: 0 !important;
}

.react-datepicker-time__header {
  color: #f8c822 !important;
}

.react-datepicker__current-month {
  color: #f8c822 !important;
}

.react-datepicker__day-name {
  color: #f8c822 !important;
}

.react-datepicker__navigation--next {
  border-left-color: #f8c822 !important;
}

.react-datepicker__navigation--next:hover {
  border-left-color: #c4a128 !important;
}

.react-datepicker__navigation--previous {
  border-right-color: #f8c822 !important;
}

.react-datepicker__navigation--previous:hover {
  border-right-color: #c4a128 !important;
}

.react-datepicker__day--keyboard-selected {
  border-radius: 0 !important;
  background-color: #393939 !important;
  color: #f8c822 !important;
}

.react-datepicker__day--selected {
  border-radius: 0 !important;
  background-color: #393939 !important;
  color: #f8c822 !important;
}

.react-datepicker__day:hover {
  border-radius: 0 !important;
}

.react-datepicker-ignore-onclickoutside {
  border: 1px solid #393939;
  outline: none;
}

.react-datepicker__input-container > input[type="text"] {
  border: 1px solid #cccccc;
  color: #393939;
  padding: 5px 0;
  text-indent: 5px;
}

// input[type="text"] {
//   border: 1px solid #393939;
//   color: #393939;
//   padding: 5px 0;
//   text-indent: 5px;
// }
