@use "../../../scss-variables/media-queries" as *;

.booking {
  &__button-go-back-terms {
    background-color: transparent;
    border: none;
    color: #dddddd;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
    transition: 0.4s ease;

    &:hover {
      color: #f8c822;
    }

    @include media-queries(xmedium) {
      font-size: 1.6rem;
    }
  }
}
