@use "../../../scss-variables/media-queries" as *;

@mixin button-cancel {
  width: 100%;
  padding: 10px 0;
  background-color: #ff4136;
  border: none;
  color: #f9f5f1;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
  transition: 0.4s ease;

  &:hover {
    background-color: #ef372d;
    color: white;
  }

  @include media-queries(xmedium) {
    font-size: 1.6rem;
  }

  @include media-queries(medium) {
    width: 100px;
    padding: 7px 0;
  }

  @include media-queries(large) {
    width: 120px;
  }
}

.booking {
  &__cancel-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 0;

    @include media-queries(xlarge) {
      margin: 20px 0;
    }
  }

  &__cancel-form {
    width: 350px;
  }

  &__cancel-label {
    display: block;
    margin-bottom: 10px;
    color: #f8c822;
    text-align: center;
    font-size: 1.2rem;

    &--admin {
      display: block;
      margin-bottom: 10px;
      color: #333333;
      text-align: center;
      font-size: 1.2rem;
    }

    @include media-queries(small) {
      font-size: 1.4rem;
      text-align: left;

      &--admin {
        font-size: 1.4rem;
        text-align: left;
      }
    }
  }

  &__cancel-input {
    display: block;
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    border: none;
    outline: none;

    &--admin {
      display: block;
      width: 100%;
      padding: 5px 0;
      margin: 10px 0;
      border: 1px solid #cccccc;
      outline: none;
    }
  }

  &__button-cancel {
    @include button-cancel();
    float: right;
    margin-top: 10px;
  }
}
