@use "../../../scss-variables/media-queries" as *;

.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding: 50px 20px;
  margin: 0 auto;
  background-color: #303030;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;

  @include media-queries(medium) {
    padding: 50px;
  }

  @include media-queries(large) {
    padding: 50px 0 50px 50px;
  }

  @include media-queries(xlarge) {
    max-width: 1200px;
  }

  &__center-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  &__wrapper {
    display: flex;
    width: 100%;
    height: auto;
    padding: 50px 0;

    @include media-queries(large) {
      max-width: 1200px;
    }

    @include media-queries(xlarge) {
      height: 768px;
    }
  }

  &__left {
    display: none;
    width: 100%;
    height: auto;

    @include media-queries(large) {
      display: block;
      width: 40%;
      background-image: url("https://firebasestorage.googleapis.com/v0/b/hairdress-shop.appspot.com/o/Background-booking.jpeg?alt=media&token=043b3596-878c-49ff-a10c-002b66da3570");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include media-queries(xlarge) {
      width: 50%;
    }
  }

  &__right {
    width: 100%;
    height: auto;

    @include media-queries(large) {
      width: 60%;
    }

    @include media-queries(xlarge) {
      width: 50%;
    }
  }

  &__inside-wrapper {
    width: 100%;
    background-color: #303030;
  }

  &__title {
    margin-bottom: 40px;
    text-transform: uppercase;
    color: white;
  }

  &__form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}
