@use "../../../scss-variables/media-queries" as *;

.bookingDetails {
  &__subtitle {
    margin: 20px 0;
    color: #d4774a;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 500;

    &--admin {
      margin: 20px 0;
      color: #333333;
      letter-spacing: 1px;
      text-align: left;
      font-weight: 500;
    }

    &--reduce-margin {
      margin-top: 0;
    }
  }

  &__tax {
    color: #c4a128;
    text-align: left;
    font-weight: 300;

    &--admin {
      color: #333333;
      text-align: left;
      font-weight: 400;
    }
  }

  &__tax-price {
    margin-left: 10px;
    color: white;

    &--admin {
      margin-left: 10px;
      color: #333333;
      font-weight: 500;
    }
  }

  &__price {
    margin: 10px 0;
    color: #c4a128;
    text-align: left;
    font-weight: 300;

    &--admin {
      margin: 10px 0;
      color: #333333;
      text-align: left;
      font-weight: 400;
    }
  }

  &__total-price {
    margin-left: 10px;
    color: white;
    font-weight: 400;

    &--admin {
      margin-left: 10px;
      color: #333333;
      font-weight: 500;
    }
  }
}
