@use "../../../scss-variables/media-queries" as *;

.bookingDetails {
  &__service-title {
    margin: 10px 0;
    color: #c4a128;
    text-align: left;
    font-weight: 300;

    &--admin {
      margin: 10px 0;
      color: #333333;
      text-align: left;
      font-weight: 400;
    }
  }

  &__service-text {
    margin-left: 5px;
    color: #dddddd;
    font-weight: 300;

    &--admin {
      margin-left: 5px;
      color: #303030;
      font-weight: 300;
    }
  }
}
