@use "../../../scss-variables/media-queries" as *;

.booking {
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  &__label {
    margin-bottom: 10px;
    color: #f8c822;
    font-size: 1.4rem;

    &--admin {
      margin-bottom: 10px;
      color: #333333;
      font-size: 1.4rem;
    }

    @include media-queries(medium) {
      font-size: 1.5rem;
    }
  }

  &__input-select {
    padding: 5px 0;
    border: 1px solid white;
    outline: none;

    &--admin {
      padding: 5px 0;
      border: 1px solid #cccccc;
      outline: none;
    }
  }
}
