@use "../../../scss-variables/media-queries" as *;

.booking {
  &__terms-policy {
    // padding: 5px 20px 10px 20px;
    padding: 5px 0px 10px;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #dddddd;
    font-weight: 300;
  }

  &__read-more {
    color: #f8c822;
    text-decoration: none;
  }
}
