@use "../../../scss-variables/media-queries" as *;

@mixin button-booking {
  width: 100%;
  padding: 5px 0;
  background-color: transparent;
  border: 1px solid #808080;
  color: #dddddd;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  outline: none;
  font-family: "Oswald", sans-serif;
  cursor: pointer;

  &--admin {
    width: 100%;
    padding: 5px 0;
    margin-top: 20px;
    background-color: #f8c822;
    border: none;
    color: #333333;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    font-family: "Oswald", sans-serif;
    cursor: pointer;
  }

  @include media-queries(xmedium) {
    font-size: 1.6rem;

    &--admin {
      font-size: 1.6rem;
    }
  }

  @include media-queries(medium) {
    width: 100px;
  }

  @include media-queries(large) {
    width: 120px;
  }
}

.booking {
  &__form {
    width: 100%;

    @include media-queries(xmedium) {
      width: 350px;
    }
  }

  &__button-continue {
    @include button-booking();
    margin-top: 20px;
  }

  &__error-msg {
    margin-bottom: 10px;
    color: #ff4136;
    text-align: left;
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    &--choose-service {
      display: initial;
      display: inline-block;
      margin-bottom: initial;
    }
  }
}
